extends ../layout/layout.pug
block vars
	- var title = 'О партии';
block header
	include ../includes/header.pug
block content
	include ../includes/content-about.pug
block footer
	include ../includes/footer.pug