extends ../layout/layout.pug
block vars
	- var title = 'Местное отделение';
block header
	include ../includes/header.pug
block content
	include ../includes/content-otdelenie.pug
block footer
	include ../includes/footer.pug