extends ../layout/layout.pug
block vars
	- var title = 'Барышникова Наталья Геннадьевна';
block header
	include ../includes/header.pug
block content
	include ../includes/content-person.pug
block footer
	include ../includes/footer.pug