extends ../layout/layout.pug
block vars
	- var title = 'Реготделение';
block header
	include ../includes/header.pug
block content
	include ../includes/content-regotdelenie.pug
block footer
	include ../includes/footer.pug