main.main
	//- .section 
	//- 	.container 
	//- 		.h2.section__title Лента
	//- 			+svg('red-arrow')
	//- 		.section__items 
	//- 			a.section-item(href="")
	//- 				.section-item__img(style="background-image:url(../img/section-photo1.png)") 
	//- 					.section-item__date 29 мая 2023
	//- 				.section-item__desc 
	//- 					.section-item__name В Подмосковье прошёл VI (майский) Пленум Центрального Комитета и ЦКРК КПРФ
	//- 					.section-item__text 27 мая 2023 года состоялся очередной VI (майский) Пленум Центрального Комитета и Центральной Контрольно-Ревизионной Комиссии КПРФ.

