main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li 
					a Реготделение
				li Барышникова Наталья Геннадьевна
		.person-block
			.person-block__title  Барышникова Наталья Геннадьевна
			.person-block__subtitle Первый секретарь Томского обкома КПРФ
			.person-block__about
				.person-block__img(style="background-image:url(./img/natashka.png)")
				.person-block__text Родилась 8 октября 1971 в поселке Усть-Омчуг Магаданской области. Отец – шахтёр, уроженец Кемеровской области. Мама – учитель начальных классов, родом из Кировской области. В 1989 году закончила Карамкенскую среднюю школу Магаданской области. В 1993-1996 гг. училась в Томском химико-технологическом колледже, который закончила с отличием. 2004-2010 гг. - Томский государственный университет. Экономический факультет, специальность: финансовый менеджер.Трудовая деятельность:1989-1990 гг. Лаборант кабинета физики Карамкенской средней школы. 1992-1993 гг. Художник-оформитель, учитель изобразительного искусства. Карамкенская средняя школа. 1996-2002 гг. Работа в коммерческих организациях в бухгалтерской службе. 2005-2008 гг. Главный бухгалтер ООО «Компания «Дилижанс». С 2005 по 2011 г – помощник депутата Думы г.Томска. В партии с 2005 г., с 2007 г. – секретарь Томского обкома КПРФ, с 2008 г. – избрана в ЦКРК КПРФ.В 2011 году была избрана депутатом Законодательной Думы Томской области V созыва. Руководитель фракции КПРФ в Законодательной Думе Томской области. Член бюджетно-финансового комитета. В 2016 году избрана в Законодательную Думу Томской области VI созыва. Возглавляет комиссию по культуре и туризму.Воспитывает двоих детей. Хобби: живопись, книги, путешествия.
.section
		.container 
			.section__items.section__items_4
				- for (var x = 0; x < 12; x++)
					a.section-item(href="")
						.section-item__img(style="background-image:url(../img/section-photo1.png)") 
							.section-item__date 29 мая 2023
						.section-item__name В Подмосковье прошёл VI (майский) Пленум Центрального Комитета и ЦКРК КПРФ
						.section-item__text 27 мая 2023 года состоялся очередной VI (майский) Пленум Центрального Комитета и Центральной Контрольно-Ревизионной Комиссии КПРФ.
.section-internet 
		.container 
			.h2.section-internet__title Интернет-приемная
			.section-internet__text Если вы хотите быть в курсе важных событий реготделения, обратиться за помощью к депутату КПРФ  или вступить в партию, заполните соответствующую форму ниже:
			.tabs 
				ul 
					li 
						span Подписаться на новости
						+svg('icon-tab1')
					li 
						span Обратиться к депутату
						+svg('icon-tab2')
					li 
						span Вступить в КПРФ
						+svg('icon-tab3')
				div 
					div 
						form(action="" method="")
							.form 
								.form__block 
									input.form__input(type="text" placeholder="ФИО")
								.form__block 
									input.form__input(type="tel" placeholder="Телефон")
								.form__block 
									input.form__input(type="email" placeholder="E-mail")
								textarea.form__textarea(placeholder="Текст сообщения")
								input.form__submit(type="submit" value="Отправить")
					div 
					div

