main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li 
					a Лента
				li Новости
		.page-text 
			h1.page-text__title В Подмосковье прошёл VI (майский) Пленум Центрального Комитета и ЦКРК КПРФ
			img(src="./img/text-img.jpg" alt="")
			p 27 мая 2023 года состоялся очередной VI (майский) Пленум Центрального Комитета и Центральной Контрольно-Ревизионной Комиссии КПРФ. В его работе приняли участие члены руководящих органов партии, союзники по левопатриотическому фронту, участники специальной военной операции, бойцы народных дружин и групп самообороны из приграничных районов России, коммунисты, возглавляющие российские регионы, руководители народных предприятий.
			img(src="./img/text-img2.jpg" alt="")
			p Работа Пленума освещалась федеральными средствами массовой информации. Телеканал «Красная линия» вёл прямую трансляцию с места события. Проведению Пленума предшествовал семинар-совещание секретарей региональных комитетов КПРФ.
			p При открытии заседания была объявлена минута молчания. Присутствующие почтили память товарищей, коммунистов и комсомольцев, павших в борьбе с фашизмом в ходе специальной военной операции на Украине.
			p По сложившейся традиции Председатель Центрального Комитета Г.А. Зюганов в торжественной обстановке вручил партийные билеты молодым коммунистам и пожелал им успехов в борьбе за права трудового народа.
			p Состоялась церемония вручения дипломов и почётных знаков Ленинской премии ЦК КПРФ. В 2023 году её лауреатами стали: директор, художественный руководитель и главный дирижёр Государственного академического русского народного ансамбля «Россия» им. Л.Г. Зыкиной, заслуженный артист Российской Федерации Д.С. Дмитриенко, президент Регионального общественного фонда поддержки культуры, науки и образования «Петербургское наследие и перспектива» Г.А. Ефимова, член Президиума ЦК КПРФ, главный редактор газеты «Правда» Б.О. Комоцкий, член Центрального Комитета КПРФ Н.И. Сапожников, Председатель Центрального Комитета Приднестровской Коммунистической партии О.О. Хоржан.
			p VI (майский) совместный Пленум ЦК и ЦКРК рассмотрел следующую повестку дня:
			p 1. О задачах КПРФ по борьбе с фашизмом и патриотическому воспитанию подрастающего поколения.
			p 2. О задачах партии по укреплению народовластия и демократизации избирательного законодательства.
			p 3. Об итогах финансово-хозяйственной деятельности ЦК КПРФ в 2022 году и утверждении Сметы поступления и расходования денежных средств ЦК КПРФ на 2023 год.
			p 4. Об утверждении Сводного финансового отчёта КПРФ за 2022 год.
			p Доклад по первому вопросу «О задачах КПРФ по борьбе с фашизмом и патриотическому воспитанию подрастающего поколения» представил Председатель ЦК партии Г.А. Зюганов. Он показал, что советская эпоха наполнила особым смыслом естественное для человека чувство патриотизма, очистила его от разжигающей национализм буржуазной идеологии. Советский патриотизм был диалектически соединён с принципами интернационализма. С момента своего возрождения КПРФ настойчиво следует этой прогрессивной политике, считает её принципы и подходы ключевыми в деле гражданско-патриотического воспитания.
			p В докладе подчёркивается, что для победы в развязанной Западом войне против России нашему народу требуется мобилизация всех сил. Но классовый интерес мешает правящим кругам опереться на жизненно важный советский опыт. Это усиливает остроту угроз, вставших перед нашей страной. КПРФ настаивает на том, что смена буржуазной системы социализмом неизбежна, и предлагает свою созидательную программу ради возрождения и процветания Родины. В деле борьбы с фашизмом партия исходит из необходимости сплочения широких антифашистских сил и их международной солидарности.
			p В прениях по докладу выступили: В.О. Коновалов (Республика Хакасия), В.Н. Попков (Донецкая область, участник СВО), Х.М. Накаев (Чеченская Республика), Н.Н. Иванов (Курская область), Л.Г. Баранова-Гонченко (Союз писателей России), О.А. Слюсаренко (Запорожская область), Ю.П. Белов (г. Санкт-Петербург), А.А. Наумов (Московская область), В.И. Соболев (Движение в поддержку Армии, оборонной промышленности и военной науки), В.В. Обуховский (г. Москва), М.Н. Прусакова (Алтайский край), О.В. Слободченко (Ставропольский край, участник СВО).
			p Позицию Редакционной комиссии представил заместитель Председателя ЦК КПРФ Д.Г. Новиков. Участники Пленума приняли Постановление «О задачах КПРФ по борьбе с фашизмом и патриотическому воспитанию подрастающего поколения».
			p С докладом по второму вопросу повестки дня выступил член Президиума ЦК КПРФ Н.В. Коломейцев. Он отметил, что манипуляции правящих кругов подрывают доверие граждан к результатам выборов и избирательной системе в целом. В обществе усиливается отчуждение личности от государства. За последние годы с целью фальсификаций при проведении выборов внедряется практика многодневного и дистанционного электронного голосования, другие “новации”. Ситуация требует от коммунистов и их сторонников активных действий в целях защиты принципов демократии при проведении выборов.
			p Пленум принял Постановление «О задачах партии по укреплению народовластия и демократизации избирательного законодательства».
			p Заслушав доклад Управляющего делами Центрального Комитета партии Н.И. Осадчего, Пленум утвердил Отчёт об итогах финансово-хозяйственной деятельности ЦК КПРФ в 2022 году, Сводный финансовый отчёт КПРФ за 2022 год и Смету поступления и расходования денежных средств ЦК КПРФ на 2023 год.
			p Подводя итоги работы Пленума, Председатель ЦК КПРФ Г.А. Зюганов напомнил, что самой победной и успешной наша Родина была в период строительства социализма. Оценивая перспективы развития обстановки в стране и мире, он призвал к сплочению левопатриотических сил ради победы над неонацизмом, нацелил на активное отстаивание интересов трудового народа.
			p В ходе работы Пленума были продемонстрированы видеоматериалы телеканала «Красная линия». В их числе – специальный репортаж о праздновании Дня Пионерии и документальный фильм «Эти», вскрывающий суть власовщины и коллаборационизма.
			p Материалы VI (майского) совместного Пленума ЦК и ЦКРК КПРФ будут опубликованы в партийной печати.
.section
		.container 
			.section__items.section__items_4
				- for (var x = 0; x < 12; x++)
					a.section-item(href="")
						.section-item__img(style="background-image:url(../img/section-photo1.png)") 
							.section-item__date 29 мая 2023
						.section-item__name В Подмосковье прошёл VI (майский) Пленум Центрального Комитета и ЦКРК КПРФ
						.section-item__text 27 мая 2023 года состоялся очередной VI (майский) Пленум Центрального Комитета и Центральной Контрольно-Ревизионной Комиссии КПРФ.
.section-internet 
		.container 
			.h2.section-internet__title Интернет-приемная
			.section-internet__text Если вы хотите быть в курсе важных событий реготделения, обратиться за помощью к депутату КПРФ  или вступить в партию, заполните соответствующую форму ниже:
			.tabs 
				ul 
					li 
						span Подписаться на новости
						+svg('icon-tab1')
					li 
						span Обратиться к депутату
						+svg('icon-tab2')
					li 
						span Вступить в КПРФ
						+svg('icon-tab3')
				div 
					div 
						form(action="" method="")
							.form 
								.form__block 
									input.form__input(type="text" placeholder="ФИО")
								.form__block 
									input.form__input(type="tel" placeholder="Телефон")
								.form__block 
									input.form__input(type="email" placeholder="E-mail")
								textarea.form__textarea(placeholder="Текст сообщения")
								input.form__submit(type="submit" value="Отправить")
					div 
					div