main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li О партии
	.about-block.about-block_spravka 
		.container 
			.h2.h2_border Справка
			.about-block__text 
				p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt id aliquet risus feugiat in ante metus dictum at. A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Ultrices mi tempus imperdiet nulla. Sed nisi lacus sed viverra tellus in hac habitasse platea. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Tempor commodo ullamcorper a lacus vestibulum sed. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Nunc sed augue lacus viverra. Potenti nullam ac tortor vitae purus faucibus ornare. Tincidunt arcu non sodales neque sodales. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Sed blandit libero volutpat sed cras ornare arcu dui vivamus.
				p Netus et malesuada fames ac turpis egestas sed tempus urna. Sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Morbi quis commodo odio aenean. Dictumst vestibulum rhoncus est pellentesque. Eu non diam phasellus vestibulum lorem sed. Congue quisque egestas diam in arcu. Sed id semper risus in hendrerit gravida rutrum. Leo duis ut diam quam. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Faucibus purus in massa tempor.
				p Tellus molestie nunc non blandit massa enim nec dui. Volutpat blandit aliquam etiam erat velit. Natoque penatibus et magnis dis parturient montes. Dignissim convallis aenean et tortor. Quam viverra orci sagittis eu volutpat. Ipsum nunc aliquet bibendum enim facilisis gravida. Integer malesuada nunc vel risus. Arcu cursus euismod quis viverra. Nec sagittis aliquam malesuada bibendum arcu. Consequat ac felis donec et odio. Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
				.three-arrows
					+svg('three-arrows')
	.about-block.about-block_program
		.container 
			.h2.h2_border Программа
			.about-block__text 
				p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt id aliquet risus feugiat in ante metus dictum at. A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Ultrices mi tempus imperdiet nulla. Sed nisi lacus sed viverra tellus in hac habitasse platea. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Tempor commodo ullamcorper a lacus vestibulum sed. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Nunc sed augue lacus viverra. Potenti nullam ac tortor vitae purus faucibus ornare. Tincidunt arcu non sodales neque sodales. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Sed blandit libero volutpat sed cras ornare arcu dui vivamus.
				p Netus et malesuada fames ac turpis egestas sed tempus urna. Sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Morbi quis commodo odio aenean. Dictumst vestibulum rhoncus est pellentesque. Eu non diam phasellus vestibulum lorem sed. Congue quisque egestas diam in arcu. Sed id semper risus in hendrerit gravida rutrum. Leo duis ut diam quam. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Faucibus purus in massa tempor.
				p Tellus molestie nunc non blandit massa enim nec dui. Volutpat blandit aliquam etiam erat velit. Natoque penatibus et magnis dis parturient montes. Dignissim convallis aenean et tortor. Quam viverra orci sagittis eu volutpat. Ipsum nunc aliquet bibendum enim facilisis gravida. Integer malesuada nunc vel risus. Arcu cursus euismod quis viverra. Nec sagittis aliquam malesuada bibendum arcu. Consequat ac felis donec et odio. Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
				.three-arrows
					+svg('three-arrows')
	.about-block.about-block_ustav
		.container 
			.h2.h2_border Устав
			.about-block__text 
				p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt id aliquet risus feugiat in ante metus dictum at. A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Ultrices mi tempus imperdiet nulla. Sed nisi lacus sed viverra tellus in hac habitasse platea. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Tempor commodo ullamcorper a lacus vestibulum sed. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Nunc sed augue lacus viverra. Potenti nullam ac tortor vitae purus faucibus ornare. Tincidunt arcu non sodales neque sodales. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Sed blandit libero volutpat sed cras ornare arcu dui vivamus.
				p Netus et malesuada fames ac turpis egestas sed tempus urna. Sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Morbi quis commodo odio aenean. Dictumst vestibulum rhoncus est pellentesque. Eu non diam phasellus vestibulum lorem sed. Congue quisque egestas diam in arcu. Sed id semper risus in hendrerit gravida rutrum. Leo duis ut diam quam. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Faucibus purus in massa tempor.
				p Tellus molestie nunc non blandit massa enim nec dui. Volutpat blandit aliquam etiam erat velit. Natoque penatibus et magnis dis parturient montes. Dignissim convallis aenean et tortor. Quam viverra orci sagittis eu volutpat. Ipsum nunc aliquet bibendum enim facilisis gravida. Integer malesuada nunc vel risus. Arcu cursus euismod quis viverra. Nec sagittis aliquam malesuada bibendum arcu. Consequat ac felis donec et odio. Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
				.three-arrows
					+svg('three-arrows')
	.about-block.about-block_how
		.container 
			.h2.h2_border Как вступить?
			.about-block__text 
				p Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt id aliquet risus feugiat in ante metus dictum at. A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Ultrices mi tempus imperdiet nulla. Sed nisi lacus sed viverra tellus in hac habitasse platea. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Tempor commodo ullamcorper a lacus vestibulum sed. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Nunc sed augue lacus viverra. Potenti nullam ac tortor vitae purus faucibus ornare. Tincidunt arcu non sodales neque sodales. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Sed blandit libero volutpat sed cras ornare arcu dui vivamus.
				p Netus et malesuada fames ac turpis egestas sed tempus urna. Sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Morbi quis commodo odio aenean. Dictumst vestibulum rhoncus est pellentesque. Eu non diam phasellus vestibulum lorem sed. Congue quisque egestas diam in arcu. Sed id semper risus in hendrerit gravida rutrum. Leo duis ut diam quam. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Faucibus purus in massa tempor.
				p Tellus molestie nunc non blandit massa enim nec dui. Volutpat blandit aliquam etiam erat velit. Natoque penatibus et magnis dis parturient montes. Dignissim convallis aenean et tortor. Quam viverra orci sagittis eu volutpat. Ipsum nunc aliquet bibendum enim facilisis gravida. Integer malesuada nunc vel risus. Arcu cursus euismod quis viverra. Nec sagittis aliquam malesuada bibendum arcu. Consequat ac felis donec et odio. Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
				.three-arrows
					+svg('three-arrows')