.bg-menu
header.header
	.container
		.header__row
			a.logo(href="/index.html")
				img(src="./img/logo.svg" alt="")
			.header__text Томское областное отделение
			.header__contacts 
				.header__address 634050 Томск, ул. Крылова, стр. 4/1 
				a.header__mail(href="mailto:kommunist-tomsk@mail.ru") kommunist-tomsk@mail.ru
				a.header__phone(href="tel:+7 (3822) 46-82-10") +7 (3822) 46-82-10
			a.header__link(href="") Интернет-приемная
				+svg('red-arrow')
			button.hamburger.hamburger--squeeze(type="button")
				span.hamburger-box
					span.hamburger-inner
		.header__row.header__row_menu
			nav.nav-menu
				.header__contacts 
					.header__address 634050 Томск, ул. Крылова, стр. 4/1 
					a.header__mail(href="mailto:kommunist-tomsk@mail.ru") kommunist-tomsk@mail.ru
					a.header__phone(href="tel:+7 (3822) 46-82-10") +7 (3822) 46-82-10
				a.button(href="") Интернет-приемная
				ul 
					li.sub-menu-link
						a(href="") О партии
							+svg('arrow-down')
						.sub-menu-inner
							+list-links('Справка', 'Программа', 'Устав','Как вступить?')
					li.sub-menu-link
						a(href="") Реготделение
							+svg('arrow-down')
						.sub-menu-inner
							+list-links('Руководство', 'Депутаты', 'Местные отделения','Как вступить?')
					li.sub-menu-link
						a(href="") Лента
							+svg('arrow-down')
						.sub-menu-inner
							+list-links('Новости', 'Статьи', 'Наша пресса')
					li.sub-menu-link
						a(href="") Медиа
							+svg('arrow-down')
						.sub-menu-inner
							+list-links('Видео', 'Фото', 'Библиотека')
				
				.socials 
					a(href="" target="_blank")
						+svg('tg')
					a(href="" target="_blank")
						+svg('youtube')
					a(href="" target="_blank")
						+svg('ok')
					a(href="" target="_blank")
						+svg('vk')
				.search 
					form.search__form(action="" method="get")
						button.search__button(type="submit")
							+svg('loupe')
						input.search__input(type="text" value="") 
			.socials 
				a(href="" target="_blank")
					+svg('tg')
				a(href="" target="_blank")
					+svg('youtube')
				a(href="" target="_blank")
					+svg('ok')
				a(href="" target="_blank")
					+svg('vk')
			.search 
				form.search__form(action="" method="get")
					button.search__button(type="submit")
						+svg('loupe')
					input.search__input(type="text" value="") 
			