.logo {
  display: block;
  position: relative;
  max-width: 21rem;
  @media (max-width: $breakpoint-tablet) {
    max-width: 13.4rem;
  }
  @media (max-width: $breakpoint-mobile) {
    max-width: 11.3rem;
  }
}
.bg-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(239, 239, 239, 0.9);
  display: none;
  .open-menu & {
    display: block;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
.hamburger {
  gap: 2rem;
  cursor: pointer;
  display: none;
  padding: 0;
  position: relative;
  // top: 1.5rem;
  // right: 2rem;
  z-index: 999;
  @media (max-width: $breakpoint-tablet) {
    @include flexcc;
  }

  &__text {
    font-size: 1.8rem;
    color: $color-text;
  }

  .hamburger-box {
    width: 1.8rem;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 1.8rem;
    // height: 0.1rem;
    background: #3b333c;
    border-radius: 0;
    height: 2px;
  }
  .hamburger-inner::before {
    top: -6px;
  }
  .hamburger-inner::after {
    bottom: -6px;
  }
}
.header {
  position: relative;
  // z-index: 999;
  padding-top: 3.4rem;
  padding-bottom: 8.6rem;
  padding-bottom: 3rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 2.9rem;
    @media (max-width: $breakpoint-tablet) {
      gap: 0;
    }
  }
  &__row {
    @include flex-center-start;
    gap: 5rem;

    @media (max-width: $breakpoint-tablet) {
      gap: 3.2rem;
      justify-content: space-between;
    }
    @media (max-width: $breakpoint-mobile) {
      gap: 2rem;
    }
    &_menu {
      border-radius: 3.1rem;
      background: rgba(63, 55, 64, 0.03);
      // padding: 2.5rem 3.4rem;
      padding: 1.5rem;
      padding-left: 3.5rem;
      position: relative;
      z-index: 999;
      @media (max-width: $breakpoint-tablet) {
        padding: 0;
        background: none;
      }
    }
  }
  @media (max-width: $breakpoint-mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &__text {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 130%;
    max-width: 21rem;
    @media (max-width: $breakpoint-tablet) {
      // max-width: calc(50% - 1rem);
      font-size: 1.4rem;
    }
  }
  &__contacts {
    max-width: 34rem;
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
  &__address {
    color: rgba(63, 55, 64, 0.4);
    font-size: 1.4rem;
    line-height: 145%;
  }
  &__mail {
    display: block;
    color: rgba(63, 55, 64, 0.4);
    font-size: 1.4rem;
    line-height: 145%;
  }
  &__phone {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 145%;
    display: block;
  }
  .button {
    margin-left: auto;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .socials {
    margin-left: auto;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .search {
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    color: $color-primary;
    margin-left: auto;
    svg {
      width: 0.9rem;
      height: 1.5rem;
    }
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
.nav-menu {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
  .header__contacts {
    display: none;
    @media (max-width: $breakpoint-tablet) {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 145%;
      .header__address,
      .header__mail {
        font-size: 16px;
        display: block;
        line-height: 145%;
      }
      .header__phone {
        font-size: 18px;
        font-weight: 500;
        display: block;
      }
    }
  }
  .header__link,
  .socials,
  .search {
    display: none;
    @media (max-width: $breakpoint-tablet) {
      display: flex;
      margin: 1rem 0;
    }
  }

  ul {
    @include ul-clean;
    @include flexcc;
    flex-wrap: wrap;
    gap: 2.9rem;
    .sub-menu-link {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
          width: 1rem;
          height: 1.6rem;
          @include tr;
        }
      }
      &.open > a {
        color: $color-primary;
        svg {
          transform: rotate(180deg);
        }
      }
    }
    > li {
      position: relative;
      .sub-menu-inner {
        position: absolute;
        margin-left: -3.4rem;
        padding-top: 3.5rem;
        display: none;
        @media (max-width: $breakpoint-tablet) {
          // display: block;
          position: static;
          margin: 0;
          padding-top: 2.8rem;
        }
        > ul {
          @include ul-clean;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.6rem;
          padding: 3rem 3.4rem;

          // border-radius: 2rem;
          // border: 1px solid rgba(63, 55, 64, 0.1);
          // background: #fff;
          @media (max-width: $breakpoint-tablet) {
            border: none;
            padding: 0;
          }
        }
      }

      &:hover {
        > a {
          color: $color-primary;
        }
        // .sub-menu-inner {
        //   display: block;
        // }
      }
      &.open {
        .sub-menu-inner {
          display: block;
          // background: #fff;
          // width: 100%;
          // left: 0;
        }
      }
    }
  }
  a {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: normal;
    @include tr;
    white-space: nowrap;
    &:hover {
      color: $color-primary;
    }

    @media (max-width: $breakpoint-tablet) {
      font-size: 1.6rem;
    }
  }
}

.open-menu {
  .header__row_menu {
    align-items: flex-start;
    background: #fff;
    min-height: 30.3rem;
    padding-top: 2.5rem;
    .nav-menu ul {
      align-items: flex-start;
    }
    .socials,
    .search {
      display: none;
      @media (max-width: $breakpoint-tablet) {
        display: flex;
      }
    }
    @media (max-width: $breakpoint-tablet) {
      .search {
        margin-bottom: 2.9rem;
      }
      .search,
      .search__input,
      .search__form {
        width: 100%;
      }
      .socials {
        margin: 2.9rem 0;
        justify-content: flex-start;
      }
    }
    @media (max-width: $breakpoint-mobile) {
      .socials {
        justify-content: space-between;
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .nav-menu {
      display: block;
      width: 100vw;
      min-height: 100vh;

      position: absolute;
      left: -2rem;
      background: #fff;
      padding: 3rem 2rem;
      // box-shadow: 0.5rem 0 2.5rem rgba(34, 42, 52, 0.12);
      top: 0rem;
      z-index: 3;
      ul {
        flex-direction: column;
        align-items: flex-start;
        li {
          width: 100%;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(59, 51, 60, 0.1);
            padding-bottom: 2.9rem;
          }
          a {
            white-space: normal;
            color: $color-text;
            font-size: 22px;
            font-family: $font-second;

            line-height: 135%;
            justify-content: space-between;
            svg {
              width: 1.5rem;
              height: 1.6rem;
            }
          }
          .sub-menu-inner {
            ul {
              li {
                padding-bottom: 0;
                border: none;
                a {
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: normal;
                  font-family: $font;
                }
              }
            }
          }
        }
      }
      .header__link {
        font-size: 22px;
        font-weight: 700;
        line-height: 135%;
        margin-top: 2.9rem;
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .nav-menu {
      padding: 3rem 4rem;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    .nav-menu {
      padding: 3rem 2rem;
    }
  }
}
