// $fa-font-path: "../webfonts";
$font: 'Ubuntu', sans-serif;
$font-second: 'Russo One', sans-serif;
$color-text: #3f3740;
$color-primary: #c8061b;

$color-second: #2383f7;
$color-link: #2c2b3c;

// $primary-color: #f8bbd0 !default;
// $accent-color

$color-border: #eff0f1;

$color-input-border: #e4e6e9;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 767px;
